:root{
    --accent: #F6993F;
    --black:#22292f;
    --white:#f8fafc;
    --outline:#613B1F;
    --grey: #606F7B;
}

a{
    @apply text-blue-darker no-underline ;
    transition: all 1000ms;
}

a:hover{
    @apply underline;
}

a.active{
    transition: all 1000ms;
    @apply text-orange;
}


button:focus {
    outline: 0; 
}

.heroicon-outline {
    fill: var(--grey);
}
.heroicon-shadows {
    display: none;
}
.heroicon-component-fill {
    fill: var(--white);
}

.heroicon-component-accent {
    fill: var(--accent);
}


.texture-background {


    background-color: #22292f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231c3d5a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

