body {
    font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    @apply text-black bg-grey-lightest;
  }


h1{
    font-family: "Abril Fatface", Helvetica, serif;
    font-size: 2.5rem;
    letter-spacing: 0.88px;
    font-weight: 400;
}

h2{
    font-weight: 500;
    @apply text-3xl;
}

h3{
    font-family: "Abril Fatface", Helvetica, serif;
    font-size: 2rem;
    letter-spacing: 1.04px;
    font-weight: 400;
    @apply text-secondary-darker;
}


h4{
    font-weight: 300;
    @apply text-xl;
}

h6{
    @apply text-sm font-bold text-primary uppercase; 
}

b, .text-bold{
    font-weight: 600;
    
}

a.header{
    /* letter-spacing: 0.5px; */
    transition: all 250ms;
    @apply text-secondary-darker border-transparent border-b-4 pb-2;
    
}

a.header:hover{
    transition: all 250ms;
    @apply border-secondary-darker border-b-4;
}

a.button{
    @apply no-underline;
}

a.footer{
    @apply text-white;
}

a.social{
    @apply bg-white text-black ;
}

a.social:hover{
    @apply bg-secondary text-white;
}

button.primary{
    transition: all 250ms;
    @apply border-0 font-bold bg-primary text-white uppercase border rounded-full p-3 ;
}

button.primary:hover{
    transition: all 250ms;
    @apply bg-primary-darker;
}

button:focus, a:focus {
    outline: 0; 
}



/* :root{
    --accent: #F66D9B;
    --black:#22292f;
    --white:#f8fafc;
    --outline:#613B1F;
    --grey: #606F7B;
}

a{
    @apply text-blue-darker no-underline ;
    transition: all 1000ms;
}

a:hover{
    @apply underline text-pink;
}

a.active{
    transition: all 1000ms;
    @apply text-pink;
}


button:focus {
    outline: 0; 
}

.heroicon-lg > .heroicon-outline {
    fill: var(--grey);
}
.heroicon-sm > .heroicon-outline {
    fill: var(--black);
}

.heroicon-shadows {
    display: none;
}
.heroicon-component-fill {
    fill: var(--white);
}

.heroicon-component-accent {
    fill: var(--accent);
}


a.button{
    @apply cursor-pointer bg-pink no-underline text-white font-bold py-4 px-4 rounded-full flex items-center;
}

.pill{
    @apply p-2 rounded-full;
}

a.button:hover{
    @apply bg-pink-dark;
}

.texture-background {


    background-color: #22292f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231c3d5a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

 */