:root{
    --accent: #F66D9B;
    --black:#22292f;
    --white:#f8fafc;
    --outline:#613B1F;
    --grey: #606F7B;
}

a{
    @apply text-blue-darker no-underline ;
    transition: all 1000ms;
}

a:hover{
    @apply underline;
}

a.active{
    transition: all 1000ms;
    @apply text-pink;
}


button:focus {
    outline: 0; 
}

.heroicon-lg > .heroicon-outline {
    fill: var(--grey);
}
.heroicon-sm > .heroicon-outline {
    fill: var(--black);
}

.heroicon-shadows {
    display: none;
}
.heroicon-component-fill {
    fill: var(--white);
}

.heroicon-component-accent {
    fill: var(--accent);
}


a.button{
    @apply cursor-pointer bg-pink no-underline text-white font-bold py-4 px-4 rounded-full flex items-center;
}

.pill{
    @apply p-2 rounded-full;
}

a.button:hover{
    @apply bg-pink-dark;
}

.texture-background {


    background-color: #22292f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%231c3d5a' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.box {
    position: relative;
  }
  .box:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }